@import '../../variables/colours.module.css';
@import '../../variables/typography.module.css';
@import '../../variables/atoms.module.css';



.app{
    background-color:var(--background-white);
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
  }
  
  .appContent {
    position: fixed;
    background-color:var(--background-white);
    border-radius: 12px;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    margin-top: 48px;
    border: 1px #e9e9e9 solid;
    overflow: hidden;
    overflow-y: scroll;
    -webkit-app-region: no-drag;
  }
  
  .containerMain{
    padding: 62px;
  }
  
  .fullPane {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-radius: 12px;
    overflow: hidden;
    background-color:var(--background-white);
  }
  
  .editorPane {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    flex-grow: 10;
    min-height: 100vh;
    padding-top: 80px;
    padding-left: 126px;
    background-color:var(--background-white);
    overflow-y: scroll;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }
  .editorPaneInner {
    width: 768px;
  }
  
  .slidesContainer {
    display: flex;
    width: 100%;
    max-width: 1024px;
    padding: 16px;
    box-sizing: border-box;
    flex-direction: column;
    align-content: center;
    align-items: center;
    align-self: center;
    justify-content: center;
    margin-bottom: 48px;
  }
  
  
  
  