@import '../../variables/colours.module.css';
@import '../../variables/typography.module.css';
@import '../../variables/atoms.module.css';

.presentationListCardContainer {
  display: flex;
  flex-direction: row;
  gap: 32px;
  flex-wrap: wrap;
  flex-grow: 2;
  justify-content:flex-start;
  margin-bottom: 24px;
}

.presentationListCard {
  display: flex;
  flex: 1 0 calc(33.33333333% - 22px);
  flex-grow: unset;
  flex-direction: column;
  text-decoration: none;
  overflow:visible;
}

.PresentationListImage{
  max-height: 180px;
  width: 100%;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 2px;
}

.presentationListCard h4 {
  font: var(--type-primary-font);
  color: var(--color-grey-1);
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 4px;
}

.presentationListCard p {
  font: var(--type-primary-font);
  color: var(--color-grey-3);
}

.presentationListCard span {
  font: var(--type-primary-font);
  color: var(--color-grey-3);
  font-size: 0.75rem;
}
